<ion-header class="header-container">
  <ion-toolbar>
    <ion-title class="header-title">Project - Ionic95</ion-title>

    <div class="header-items">
      <ion-buttons class="header-buttons">
        <ion-button>Inicio</ion-button>
      </ion-buttons>

      <ion-buttons class="header-buttons">
        <ion-button>Blog</ion-button>
      </ion-buttons>

      <ion-buttons class="header-buttons">
        <ion-button>Acerca de</ion-button>
      </ion-buttons>
    </div>

  </ion-toolbar>
</ion-header>