/* Colores base del estilo "Ventana 95" */

$vent-background: #017e73;
$vent-primary: #c0c0c0;
$vent-light-primary: #e9e9e9;
$vent-dark-primary: #808080;
$vent-post-primary: #464646;
$vent-secondary: #0b22b8;
$vent-yellow: #ffff00;
$vent-whithe: #fff;
$vent-black: #000;

// Fuentes base - "Ventana 95"

$vent-font: "MS Sans Serif", sans-serif; /* o 'Tahoma', sans-serif; */

// Tamaño de fuentes - "Ventana 95"

$rem-size: 62.5%;